In [4]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
FINANCEIRO  = ['B3SA3.SA', 'BIDI4.SA', 'BPAC11.SA', 'BPAN4.SA']
MATERIAIS   = ['CSNA3.SA', 'FESA3.SA', 'GGBR4.SA', 'SUZB3.SA', 'UNIP6.SA', 'USIM5.SA', 'VALE3.SA', 'PRIO3.SA', 'CSAN3.SA', 'KLBN11.SA', 'GOAU4.SA']
SMALL_CAPS  = ['STBP3.SA', 'TASA4.SA', 'PTBL3.SA', 'ROMI3.SA']
VAREJO      = ['MGLU3.SA', 'VVAR3.SA', 'AMAR3.SA']

In [6]:
data   = yf.download(VAREJO, start='2020-03-27')['Adj Close'].dropna()

[*********************100%***********************]  3 of 3 completed

In [7]:
data

            AMAR3.SA   MGLU3.SA  VVAR3.SA
Date
2020-03-27      5.75   9.510635      5.70
2020-03-30      5.10  10.144677      5.45
2020-03-31      4.60   9.508198      5.28
2020-04-01      4.09   9.139964      4.65
2020-04-02      3.80   8.752222      4.38
...              ...        ...       ...
2021-08-30      6.59  18.879999     10.76
2021-08-31      6.65  18.240000     10.39
2021-09-01      6.37  18.680000     10.27
2021-09-02      6.15  18.010000      9.64
2021-09-03      6.19  18.900000      9.62

[356 rows x 3 columns]